.navbar{
    width: 6%;
    height: 100%;
    position:fixed;
    margin-left:0;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#87afd3;
    overflow-x: hidden;
}

.navbar a{
    text-align:center;
    padding-top:16%;
    padding-bottom:16%;
    display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
color:white;
text-decoration:none;
font-family:"Arial";
font-size:12px;

}

.navbar a img{
    max-width:50%;
}

.navbar a.navactive {
    background-color: #647E9D;
  }


.container
{
    background-color:#E8EAEC;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;

        
}
.content
{
    float: left;
    position: relative;
    margin-left:5%;
}

.nota{
    background-color:black;
    color:white;
    font-family:"Arial";    
    min-width:100vw;
    text-align:center;

}

.Patologia
{
    margin-top:0.5%;
    margin-left:4%;
    font-family:"Arial"; 
    font-size:18px;
    display:flex;
    position:relative;
    font-weight: bold;

    
}

.Patologia img{
    margin-left:2%;
    height: 28px;
}

.Patologia select{
    height:28px;
    width:70%;
    font-size:16px;
    background-color:#87afd3;
    margin-left:2.5%;
    font-weight: normal;

}


.tabelaPatologia table
{
    width: 80%;
    margin-left:4%;
    margin-right:4%;
    margin-top:0.5%;
    font-family: Arial;
    font-size: 14px;
    border-spacing: 0;


}

.tabelaPatologia table #Sintomas
{
    width: 30%;
}

.tabelaPatologia table #Codigo
{
    width: 10%;
    
}

.tabelaPatologia table th{
   padding-top: 3px;
   padding-bottom: 3px;
    text-align: left;
    color: white;
    background-color: darkgrey;
    border: 1px solid black;
    text-align:center;
    font-weight: normal;
}

.tabelaPatologia table td{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: black;
    background-color: white;
    border:1px solid black;
 
}

.dadosdem{
    margin-top:0.5%;
    margin-left:4%;
    font-family:"Arial"; 
    font-size:18px;
    font-weight: bold;
   
}

#dados{
    margin-top:0.5%;
    font-size:14px;
    width: 85%;
    font-family:"Arial"; 
    text-align:left;
    font-weight: normal;
    
    
}

#dados input
{
    background-color:#87afd3;
    font-size:14px;
    width:95%;
    font-family:"Arial"; 

}

#dados select
{
    width:95%;
    font-family:"Arial"; 

    background-color:#87afd3;
    font-size:14px;
    color:white;
    font-weight: normal;
}

#DataCampo
{
    width:15%;
    font-weight: normal;
}

#caixaTexto
{
    width:35%;
    font-weight: normal;
}

#generoCampo{
    width:10%;
    font-weight: normal;
}

#generoCombo
{
    width:35%;
    font-weight: normal;
}
#espaco
{
    width:5%;
    font-weight: normal;
}

.PCSintomas
{
    
    margin-top:0.5%;
    margin-left:4%;
    font-family:"Arial"; 
    font-size:18px;
    font-weight: bold;
    
   
}

.PCSintomas input{
    float:right;
    margin-right:17%;
    font-family:"Arial"; 
    font-size:18px;
    background-color:#3C61A5;
    color:white
}

.PCTarefas
{
    
    margin-top:0.5%;
    margin-left:4%;
    font-family:"Arial"; 
    font-size:18px;
    font-weight: bold;
    
   
}

.PCTarefas input{
    float:right;
    margin-right:17%;
    font-family:"Arial"; 
    font-size:18px;
    background-color:#3C61A5;
    color:white
}

.SintomasEscolhidos
{
    width:83%;
    height:5%;
    border-bottom: 2px solid #3C61A5;
}

.TarefasEscolhidos
{
    width:83%;
    height:5%;
    border-bottom: 2px solid #3C61A5;
}


.POP
{
    display:none;
    margin-top:0.5%;
    margin-left:4%;
    font-family:"Arial"; 
    font-size:18px;
    font-weight: bold;
    height:26vh;
    width:83%;
}
.POP table
{
    width: 100%;
    margin-right:4%;
    margin-top:0.5%;
    font-family: Arial;
    font-size: 14px;
    border-spacing: 0;
   
}

.POP table th{
   padding-top: 3px;
   padding-bottom: 3px;
    text-align: left;
    color: white;
    background-color: darkgrey;
    border: 1px solid black;
    text-align:center;
    font-weight: normal;
}

.POP table td{
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    color: black;
    background-color: white;
    border:1px solid black;
 
}

.POP table #Conformidade
{
    width:17%;
}

.POP table #POPTable
{
    width:45%;
}

.POP table #Colmatacao
{
    width:17%;
}

.POP table #Custo
{
    width:15%;
}

.POP table #Scroll
{
    width:5%;
}

.POP input[type='checkbox']
{
    text-align:center;
    width:50%;
    margin-top:10%;
}

.POP input{
    float:right;
    margin-right:4%;
    font-family:"Arial"; 
    font-size:18px;
    background-color:#3C61A5;
    color:white
}
.tabelaPOP
{
   
    overflow-y: scroll;
    height:26vh;
    width:97%;
}

.determinarPOP input
{
    float:right;
    margin-right:16.5%;
    font-family:"Arial"; 
    font-size:18px;
    background-color:#3C61A5;
    color:white
}