.navbar{
    width: 6%;
    height:100%;
    position:fixed;
    margin-left:0;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#87afd3;

}


.navbar a{
    text-align:center;
    padding-top:16%;
    padding-bottom:16%;
    display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
color:white;
text-decoration:none;
font-family:"Arial";
font-size:12px;
margin:auto;


}



.navbar a img{
    max-width:50%;
}

.navbar a.navactive {
    background-color: #647E9D;
  }


  body
  {
    background-color:#E8EAEC;

  }
.container
{
    width:100%;
    min-height:100%;
    top:0px;
}
.content
{
    float: left;
    position: relative;
    margin-left:15%;
}

.nota{
    background-color:black;
    color:white;
    font-family:"Arial";    
    text-align:center;
    float:left;
    position:relative;
    width:95.5%;
    margin-left:5%;

}
.tabelaPatologia
{
    overflow-y: scroll;
    max-height:120px;
    width:83.5%;
    margin-left:0.5%;
}

.Patologia
{
    margin-top:2%;
    margin-left:4%;
    font-family:"Arial"; 
    font-size:18px;
    font-weight: bold;  
   

}

.Patologia img{
    margin-right:16.5%;
    height: 28px;
    vertical-align:bottom;
    float:right;
    
}

.Patologia select{
    height:28px;
    width:65%;
    font-size:16px;
    background-color:#87afd3;
    margin-left:5.5%;
    font-weight: normal;

}


.tabelaPatologia table
{
 
    margin-left:4%;
    margin-top:1%;
    font-family: Arial;
    font-size: 14px;
    border-spacing: 0;

}

.tabelaPatologia table #Sintomas
{
    width: 30%;
}

.tabelaPatologia img
{
    width:30%;
    padding:0 0 0 0 ;


}
.tabelaPatologia table #Codigo
{
    width: 10%;
    
}

.tabelaPatologia table th{
   padding-top: 3px;
   padding-bottom: 3px;
    text-align: left;
    color: white;
    background-color: darkgrey;
    border: 1px solid black;
    text-align:center;
    font-weight: normal;
}

.tabelaPatologia table td{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: black;
    background-color: white;
    border:1px solid black;
 
}

.dadosdem{
    margin-top:2%;
    margin-left:4%;
    font-family:"Arial"; 
    font-size:18px;
    font-weight: bold;
   
}

#dados{
    font-size:14px;
    width: 85%;
    font-family:"Arial"; 
    text-align:left;
    font-weight: normal;
    
    
}

#dados input
{
    background-color:#87afd3;
    font-size:14px;
    width:95%;
    font-family:"Arial";


}

#dados select
{
    width:95%;
    font-family:"Arial"; 

    background-color:#87afd3;
    font-size:14px;
    color:white;
    font-weight: normal;
}

#DataCampo
{
    width:15%;
    font-weight: normal;
}

#caixaTexto
{
    width:35%;
    font-weight: normal;
}

#generoCampo{
    width:10%;
    font-weight: normal;
}

#generoCombo
{
    width:35%;
    font-weight: normal;
}
#espaco
{
    width:5%;
    font-weight: normal;
}

.PCSintomas
{
    
    margin-top:2%;
    margin-left:4%;
    font-family:"Arial"; 
    font-size:18px;
    font-weight: bold;
    
   
}

.PCSintomas input{
    float:right;
    margin-right:17%;
    font-family:"Arial"; 
    font-size:14px;
    background-color:#3C61A5;
    color:white;
    width:200px;
    height:26px;
}

.PCTarefas
{
    
    margin-top:4%;
    margin-left:4%;
    font-family:"Arial"; 
    font-size:18px;
    font-weight: bold;
    
   
}

.PCTarefas input{
    float:right;
    margin-right:17%;
    font-family:"Arial"; 
    font-size:14px;
    background-color:#3C61A5;
    color:white;
    width:200px;
    margin-top:auto;
}


.POP
{
    display:none;
    float:right;
    margin-top:1%;
    font-family:"Arial"; 
    font-size:18px;
    font-weight: bold;
    width:82%;
    margin-right:13.9%;   
}
.POP table
{
    width: 100%;
    margin-top:2%;
    font-family: Arial;
    font-size: 14px;
    border-spacing: 0;
   
}

.POP table th{
   padding-top: 3px;
   padding-bottom: 3px;
    text-align: left;
    color: white;
    background-color: darkgrey;
    border: 1px solid black;
    text-align:center;
    font-weight: normal;
}

.POP table td{
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    color: black;
    background-color: white;
    border:1px solid black;
 
}

.POP table #Conformidade
{
    width:17%;
}

.POP table #POPTable
{
    width:45%;
}

.POP table #Colmatacao
{
    width:17%;
}

.POP table #Custo
{
    width:15%;
}

.POP table #Scroll
{
    width:5%;
}

.POP input[type='checkbox']
{
    text-align:center;
    width:30%;
    height:12px;
}

.POP input{
    float:right;
    margin-right:3.2%;
    font-family:"Arial"; 
    font-size:14px;
    background-color:#3C61A5;
    color:white;
    width:200px;
    height:26px;

}
.tabelaPOP
{
    overflow-y: scroll;
    max-height:200px;
   width:97.2%;
   margin-top:2%;
}

.determinarPOP input
{
    margin-top:1%;
    float:right;
    margin-right:16.4%;
    font-family:"Arial"; 
    font-size:14px;
    background-color:#3C61A5;
    color:white;
    width:200px;
    height:26px;
   
}

.grau
{
    margin-right:3.1%;
    float:right;
    width:200px;
    background-color: white;
    text-align:center;
    border:1px solid black;
  

}

.textoTarefas input
{
    margin-top:2px;
    width:83%;
    height:30px;
    background-color: #E8EAEC;
    border-bottom: 2px solid #3C61A5;
    border-top: 0px;
    border-left:0px;
    border-right:0px;
    color:black;

}

.textoSintomas input
{
    margin-top:2px;
    width:83%;
    height:30px;
    background-color: #E8EAEC;
    color:black;
    border-bottom: 2px solid #3C61A5;
    border-top: 0px;
    border-left:0px;
    border-right:0px;

}

.VerResultados
{
    margin-top:1%;
    margin-bottom:1%;
}

.ui-menu
{
    overflow-y: scroll;
    height:100px;
    font-family: Arial;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;   
    padding: 4px 0;
    margin: 0 0 10px 25px;
    list-style: none;
    background-color: #727176;
    border-color: white;
    color:white;    
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

.ui-menu-item > a.ui-corner-all {
  
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    text-decoration: none;
}

.ui-state-hover, .ui-state-active {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}

.ui-helper-hidden-accessible
{
    display:none;
}


.PCTarefas button
{
    width:300px;
    height: 300px;
}



chips {
    margin-top:5px;
    margin-right:5px;
    display: inline-block;
    padding:3px 5px 3px 3px;
    font-size: 14px;
    line-height: auto;
    border-radius: 10px;
    background-color:orange;
    color:white;
    text-align:center;
    width:auto +30px;
    font-weight:normal;
  }
chips .closebtn {
   padding-left:5px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 15px;
    cursor: pointer;
    text-align:center;
    
  }
  
chips .closebtn:hover {
    color: #000;
  }

 

  .prescricaoPOP
  {
    margin-top:2%;
    font-family:"Arial"; 
    font-size:18px;
    font-weight: bold;  
    width:85%;
    float:left; 
    margin-bottom:2%;   

  }

  .prescricaoPOP select
  {
    height:28px;
    width:90%;
    font-size:16px;
    background-color:#87afd3;
    font-weight: normal;
    margin-left:2%;

  }

  .DP
  {
    width:10%;
    font-size:18px;
    height:5%;
    background-color: white;
    text-align:center;
    vertical-align: center;
    border:1px solid black;
    float:right;
    margin-top:1%;
    font-family: Arial;
    margin-bottom:2%;
    


  }

  .contentP
  {
    position: relative;
    margin-left:18%;
    margin-right:12%;
    width:70%;
  }


  .referencia
  {
    margin-top:3%;
    font-family:"Arial"; 
    font-size:16px;
    font-weight: bold;  
    width:100%;
    float:left;
    margin-bottom:2%;
  }
  .referencia input[type='text']
  {
    background-color:#87afd3;
    font-size:14px;
    font-family:"Arial";

  }

  .referencia input[type='button']
  {
    font-size:14px;
    background-color:#3C61A5;
    color:white;
  }
  .criarCodigo
  {
      float:right;
  }

  .criarCodigo input
  {
        float:right;
        font-family:"Arial"; 
        font-size:14px;
        background-color:#3C61A5;
        color:white;
        width:200px;
        margin-top:auto;
  }

  .Recomendacoes
  {
    font-family:"Arial"; 
    font-size:18px;
    font-weight: bold;
   
    
  }

  .tabelas{
      overflow-y:scroll;
      max-height:160px;
  }
  .Produtos
  {
    margin-top:3%;
    font-family:"Arial"; 
    font-size:18px;
    font-weight: bold;
  }

#tablePreco
{
    width: 100%;
    font-family: Arial;
    font-size: 14px;
    border-spacing: 0;
}

 #tableRP td{
     padding-top: 5px;
     padding-bottom: 5px;
     text-align: center;
     color: black;
     background-color: white;
     border:1px solid black;
  
 }

#tableRP
  {
      width: 100%;
      font-family: Arial;
      font-size: 14px;
      border-spacing: 0;
     
  }
  
 #tableRP th{
     padding-top: 3px;
     padding-bottom: 3px;
      text-align: left;
      color: white;
      background-color: darkgrey;
      border: 1px solid black;
      text-align:center;
      font-weight: normal;
      
  }
  #tipoCima
  {
      width:10%;
  }
  #descricaoCima
  {
    width:25%;

  }
  #isoCima
  {
    width:10%;

  }
  #adaptacaoCima
  {
    width:10%;

  }
  #beneficiosCima
  {
    width:10%;

  }
  #requesitosCima
  {
    width:10%;

  }
  #scrollCima
  {
    width:5%;

  }
  #colmatacaoCimaR
  {
    width:10%;

    padding-top: 3px;
    padding-bottom: 3px;
     text-align: left;
     color: white;
     background-color: darkgrey;
     border: 1px solid black;
     text-align:center;
     font-weight: normal;
  }

  #precoCimaR
  {
    width:10%;
    padding-top: 3px;
    padding-bottom: 3px;
     text-align: left;
     color: white;
     background-color: darkgrey;
     border: 1px solid black;
     text-align:center;
     font-weight: normal;
  }
  #colmatacaoCimaP
  {
    width:10%;

    padding-top: 3px;
    padding-bottom: 3px;
     text-align: left;
     color: white;
     background-color: darkgrey;
     border: 1px solid black;
     text-align:center;
     font-weight: normal;
  }

  #precoCimaP
  {
    width:10%;
    padding-top: 3px;
    padding-bottom: 3px;
     text-align: left;
     color: white;
     background-color: darkgrey;
     border: 1px solid black;
     text-align:center;
     font-weight: normal;
  }
  #colTipoR
  {
    width:10%;
  }
  #colDescricaoR
  {
      width:25%;
  }
  #colIsoR
  {
    width:10%;

  }
  #colAdaptacaoR
  {
      width:10%;
  }
  #colBeneficiosR
  {
      width:10%;
  }
  #colColmatacaoR
  {
      width:10%;
  }
#colPrecoR
{
    width:10%;
}
#colRequisitosR
{
    width:10%;
}
#colScrollR
{
    width:5%;
}
#colTipoP
  {
    width:10%;
  }
  #colDescricaoP
  {
      width:25%;
  }
  #colIsoP
  {
    width:10%;

  }
  #colAdaptacaoP
  {
      width:10%;
  }
  #colBeneficiosP
  {
      width:10%;
  }
  #colColmatacaoP
  {
      width:10%;
  }
#colPrecoP
{
    width:10%;
}
#colRequisitosP
{
    width:10%;
}
#colScrollP
{
    width:5%;
}

.Informacoes
  {
    margin-top:3%;
    font-family:"Arial"; 
    font-size:18px;
    font-weight: bold;

  }

.Add img
{
    height:18px;
    margin-right:5px;
}

.Add
{
    font-family:"Arial"; 
    font-size:12px;
}
.Add a
{
    display:block;
    text-decoration: none;
    color:black;
    margin-top:1.5%;
    font-family:Arial;
}

.Add a:hover{
    color:#3C61A5;
}

.Imprimir input
{
    float:right;
    font-size:14px;
    background-color:#3C61A5;
    color:white;
    width:200px;
    height:26px;
    margin-bottom:1%
}


  @media screen and (max-width: 600px) {
    .navbar a
    {
        font-size:4px;
        padding-top:55%;
    padding-bottom:25%;
    }

    .Patologia select
    {
        width:40%
    }
    .navbar
    {
        width:8%;
    }

    .DP
    {
        height:3%;
        font-size:12px;

    }

    
  }