.navbar{
    width: 6%;
    height: 100%;
    position:fixed;
    margin-left:0;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#87afd3;

}

.navbar a{
    text-align:center;
    padding-top:16%;
    padding-bottom:16%;
    display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
color:white;
text-decoration:none;
font-family:"Arial";
font-size:12px;

}

.navbar a img{
    max-width:50%;
}

.navbar a.navactive {
    background-color: #647E9D;
  }


  body
  {
    background-color:#E8EAEC;

  }
.container
{
    width:100%;
    min-height:100%;
    top:0px;
}
.content
{
    float: left;
    position: relative;
    margin-left:5%;
}

.nota{
    background-color:black;
    color:white;
    font-family:"Arial";    
    text-align:center;

}
.tabelaPatologia
{
    overflow-y:auto;
    height:15vh;
        width:83.5%;
}

.Patologia
{
    margin-top:2%;
    margin-left:4%;
    font-family:"Arial"; 
    font-size:18px;
    font-weight: bold;  
   

}

.Patologia img{
    margin-left:2%;
    height: 28px;
}

.Patologia select{
    height:28px;
    width:70%;
    font-size:16px;
    background-color:#87afd3;
    margin-left:2.5%;
    font-weight: normal;

}


.tabelaPatologia table
{
 
    margin-left:4%;
    margin-top:1%;
    font-family: Arial;
    font-size: 14px;
    border-spacing: 0;

}

.tabelaPatologia table #Sintomas
{
    width: 30%;
}

.tabelaPatologia img
{
    width:20%;
}
.tabelaPatologia table #Codigo
{
    width: 10%;
    
}

.tabelaPatologia table th{
   padding-top: 3px;
   padding-bottom: 3px;
    text-align: left;
    color: white;
    background-color: darkgrey;
    border: 1px solid black;
    text-align:center;
    font-weight: normal;
}

.tabelaPatologia table td{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: black;
    background-color: white;
    border:1px solid black;
 
}

.dadosdem{
    margin-top:2%;
    margin-left:4%;
    font-family:"Arial"; 
    font-size:18px;
    font-weight: bold;
   
}

#dados{
    font-size:14px;
    width: 85%;
    font-family:"Arial"; 
    text-align:left;
    font-weight: normal;
    
    
}

#dados input
{
    background-color:#87afd3;
    font-size:14px;
    width:95%;
    font-family:"Arial";


}

#dados select
{
    width:95%;
    font-family:"Arial"; 

    background-color:#87afd3;
    font-size:14px;
    color:white;
    font-weight: normal;
}

#DataCampo
{
    width:15%;
    font-weight: normal;
}

#caixaTexto
{
    width:35%;
    font-weight: normal;
}

#generoCampo{
    width:10%;
    font-weight: normal;
}

#generoCombo
{
    width:35%;
    font-weight: normal;
}
#espaco
{
    width:5%;
    font-weight: normal;
}

.PCSintomas
{
    
    margin-top:2%;
    margin-left:4%;
    font-family:"Arial"; 
    font-size:18px;
    font-weight: bold;
    
   
}

.PCSintomas input{
    float:right;
    margin-right:17%;
    font-family:"Arial"; 
    font-size:14px;
    background-color:#3C61A5;
    color:white;
    width:200px;
    height:26px;
}

.PCTarefas
{
    
    margin-top:4%;
    margin-left:4%;
    font-family:"Arial"; 
    font-size:18px;
    font-weight: bold;
    
   
}

.PCTarefas input{
    float:right;
    margin-right:17%;
    font-family:"Arial"; 
    font-size:14px;
    background-color:#3C61A5;
    color:white;
    width:200px;
    height:26px;
}

.SintomasEscolhidos
{
    width:100%;
    height:5%;
}

.TarefasEscolhidos
{
    width:100%;
    height:5%;
}


.POP
{
    display:none;
    margin-top:7%;
    margin-left:4%;
    font-family:"Arial"; 
    font-size:18px;
    font-weight: bold;
    height:26vh;
    width:82%;
}
.POP table
{
    width: 100%;
    margin-top:2%;
    font-family: Arial;
    font-size: 14px;
    border-spacing: 0;
   
}

.POP table th{
   padding-top: 3px;
   padding-bottom: 3px;
    text-align: left;
    color: white;
    background-color: darkgrey;
    border: 1px solid black;
    text-align:center;
    font-weight: normal;
}

.POP table td{
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    color: black;
    background-color: white;
    border:1px solid black;
 
}

.POP table #Conformidade
{
    width:17%;
}

.POP table #POPTable
{
    width:45%;
}

.POP table #Colmatacao
{
    width:17%;
}

.POP table #Custo
{
    width:15%;
}

.POP table #Scroll
{
    width:5%;
}

.POP input[type='checkbox']
{
    text-align:center;
    width:30%;
    height:12px;
}

.POP input{
    float:right;
    margin-right:3.2%;
    font-family:"Arial"; 
    font-size:14px;
    background-color:#3C61A5;
    color:white;
    width:200px;
    height:26px;

}
.tabelaPOP
{
    overflow-y: scroll;
    height:24vh;
    width:97%;
}

.determinarPOP input
{
    margin-top:1%;
    float:right;
    margin-right:16.4%;
    font-family:"Arial"; 
    font-size:14px;
    background-color:#3C61A5;
    color:white;
    width:200px;
    height:26px;
   
}

.grau
{
    margin-right:3.5%;
    float:right;
    width:200px;
    background-color: white;
    text-align:center;
    border:1px solid black;
  

}

.TarefasEscolhidos input
{
   
    width:83%;
    height:30px;
    background-color: #E8EAEC;
    border-bottom: 2px solid #3C61A5;
    border-top: 0px;
    border-left:0px;
    border-right:0px;
    color:black;

}

.SintomasEscolhidos input
{
   
    width:83%;
    height:30px;
    background-color: #E8EAEC;
    color:black;
    border-bottom: 2px solid #3C61A5;
    border-top: 0px;
    border-left:0px;
    border-right:0px;

}

.VerResultados
{
    margin-top:1%;
}

.ui-menu
{
    overflow-y: scroll;
    height:100px;
    font-family: Arial;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;   
    padding: 4px 0;
    margin: 0 0 10px 25px;
    list-style: none;
    background-color: darkgrey;
    border-color: white;
    color:white;    
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    text-decoration: none;
}

.ui-state-hover, .ui-state-active {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}